

.header{
    margin: 10px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: #20315f;
}

.container{
   padding: 0px 3vw 0 3vw;
   max-height: 50%;
}



/* .containerGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
} */
.containerGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 0px;
  align-items: start;
  justify-items: center;
  /* place-content: inherit; */
}

.chip{
  width: 30%;
}
@media (max-width: 480px) {
    /* Cambiar a una disposición de 1 columna */
    .containerGrid {
      grid-template-columns: 1fr;
    }
  }

  .containerCards{
    display: flex;
    
    flex-direction: column;
  }


  .pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .pagination-container {
    position: fixed;
    left: 1;
    bottom: 0;
    width: 25%;
    background-color: #fff;
    border-radius: 1rem;
    padding: .3rem;
    
  }
  @media (max-width: 768px) {
    .pagination-container {
      font-size: 14px;
      margin-top: 10px;
      width: 100%;

    }
  }
