.hero {
    display: inline-block;
    position: relative;
    width: 150px;
    min-width: 200px;
    height: 150px;
    border-radius: 30px;
    overflow:hidden;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
    margin: 20px;
  }
  
  .hero-profile-img {
    height: 100%;
  }
  
  .hero-description-bk {
    background-image: linear-gradient(0deg , #6e3ac1, #df1f46);
    border-radius: 30px;
    position: absolute;
    top: 33%;
    left: 9px;
    height: 118%;
    width: 108%;
    transform: skew(19deg, -9deg);
  }
  
  .hero-description-bkSecond {
    background-image: linear-gradient(0deg, #3f5efb, #52c234);
    border-radius: 30px;
    position: absolute;
    top: 33%;
    left: 9px;
    height: 118%;
    width: 108%;
    transform: skew(19deg, -9deg);
  }

  .hero-description-bkThird {
    background-image: linear-gradient(0deg, #3f5efb, #a63cb3);;
    border-radius: 30px;
    position: absolute;
    top: 33%;
    left: 9px;
    height: 118%;
    width: 108%;
    transform: skew(19deg, -9deg);
  }

  .hero-description-bkFourth {
    background-image:linear-gradient(0deg, #fdfd96, #fc466b);
    border-radius: 30px;
    position: absolute;
    top: 33%;
    left: 9px;
    height: 118%;
    width: 108%;
    transform: skew(19deg, -9deg);
  }



  

  .second .hero-description-bk {
    background-image: linear-gradient(-20deg , #bb7413, #e7d25c)
  }
  
  .hero-logo {
    height: 80px;
    width: 80px;
    border-radius: 20px;
    background-color: #fff;
    position: absolute;
    bottom: 30%;
    left: 30px;
    overflow:hidden;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.7);
  }
  
  .hero-logo img {
    height: 100%;
  }
  
  .hero-description {
    position: absolute;
    color: #fff;
    font-weight: 900;
    left: 132px;
    bottom: 31%;
  }
  
  .hero-btn {
    position: absolute;
    color: #fff;
    right: 25px;
    bottom: 14%;
    font-size: 1.5rem;
  }
  
  .hero-btn a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
  }
  
  .hero-date {
    position: absolute;
    color: #fff;
    left: 26px;
    bottom: 6%;
  }
  /* END CARD DESIGN */
  
  .btn i:before {
    width: 14px;
    height: 14px;
    position: fixed;
    color: #fff;
    background: #0077B5;
    padding: 10px;
    border-radius: 50%;
    top:5px;
    right:5px;
  }

  @media screen and (max-width: 768px) {
    .hero {
      width: 80% !important;
      min-width: 0;
      height: 20vh !important;
      margin: 15px;
    }
  
    .hero-description-bk,
    .hero-description-bkSecond,
    .hero-description-bkThird,
    .hero-description-bkFourth {
      height: 90%;
      top: 30%;
      transform: none;
      left: 0%;
    }
  
    .hero-logo {
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  
    .hero-description {
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
      width: 80%;
      bottom: 20%;
    }
  
    .hero-date {
     
      display: none;
    }
  
    .hero-btn {
      right: 50%;
      transform: translateX(50%);
      bottom: 5%;
    }
  }


  .cardGridContainer{
    display: flex;
    justify-content: center;
  }
  @media screen and (max-width: 768px) {
    .hero {
      width: 100%;
      height: auto;
      margin: 15px 0;
    }
  }
  

  

