<<<<<<< HEAD
.button{
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    cursor: pointer;
    background-color: #333e5d55;
    border: none;
}

.button:hover{
    background-color: #15275855;
=======
.button{
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    cursor: pointer;
    background-color: #333e5d55;
    border: none;
}

.button:hover{
    background-color: #15275855;
>>>>>>> 249c57bfc6d68c4a5b435e819488e329cb6924d6
}